In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import funciones as f
import os

In [2]:
#importamos el archivo con los datos
file_name = 'Report1.xlsx'
sheet_name = 'data'
df = pd.read_excel(file_name, sheet_name=sheet_name)
df

  system           D_0       Q  t_min  t_max
0  Ag_Ag  2.700000e-05  182.96    980   1250
1  Al_Al  1.370000e-05  124.00    583    953
2  Cu_Cu  1.050000e-04  210.00    845   1111
3  Ti_Ti  3.400000e-04  328.00   1939   1941
4  Ag_Cu  3.100000e-10   72.00    498    573
5  Ag_Pt  1.300000e-05  258.00   1473   1873
6  Ag_Ti  1.000000e-04  279.00    823   1073
7  Al_Cu  8.000000e-06  181.00    973   1348
8  Al_Pt  1.300000e-07  194.00   1373   1873
9  Al_Ti  6.600000e-03  329.00    930   1140

In [3]:
#voy a usar tempraturas desde 450 a 1900 K
T_range = np.linspace(450, 1950, 100)

In [4]:
#guardo los dataframes en un diccionario
systems = {}

for idx, row in df.iterrows():
    D = f.diffusion(T_range, row['D_0'], row['Q'])
    ln_D = np.log(D)
    T_m1 = 1/T_range

    systems_df = pd.DataFrame(
        {
            'T' : T_range,
            'D(T)' : D,
            'D_0' : row['D_0'],
            'Q (kJ/mol)' : row['Q'],
            'ln(D)' : ln_D,
            '1/T' : T_m1
        }
    )
    systems[row['system']] = systems_df

In [5]:
systems['Al_Al']

              T          D(T)       D_0  Q (kJ/mol)      ln(D)       1/T
0    450.000000  5.529113e-20  0.000014       124.0 -44.341674  0.002222
1    465.151515  1.627487e-19  0.000014       124.0 -43.262080  0.002150
2    480.303030  4.475055e-19  0.000014       124.0 -42.250598  0.002082
3    495.454545  1.156676e-18  0.000014       124.0 -41.300981  0.002018
4    510.606061  2.825855e-18  0.000014       124.0 -40.407721  0.001958
..          ...           ...       ...         ...        ...       ...
95  1889.393939  5.110494e-09  0.000014       124.0 -19.091970  0.000529
96  1904.545455  5.441720e-09  0.000014       124.0 -19.029171  0.000525
97  1919.696970  5.788673e-09  0.000014       124.0 -18.967363  0.000521
98  1934.848485  6.151789e-09  0.000014       124.0 -18.906523  0.000517
99  1950.000000  6.531505e-09  0.000014       124.0 -18.846629  0.000513

[100 rows x 6 columns]

In [6]:
#systems['Ag_Ag']

In [7]:
f.plot(dataframe=systems, x_axis='T', y_axis='D(T)', x_label='T (K)', y_label='D (m^2/s)')

In [8]:
f.plot(dataframe=systems, x_axis='1/T', y_axis='ln(D)', x_label='1/T (1/K)', y_label='ln(D)')

In [9]:
f.plot2(dataframe=systems, x_axis='1/T', y_axis='ln(D)', x_label='1/T (1/K)', y_label='ln(D)')

In [10]:
#calculamos D(T) para la T que queremos
T_2 = 278 #temp in Kelvin
df_2 = df
df_2['D_roomT'] = df_2.apply(lambda row: f.diffusion(298, row['D_0'], row['Q']), axis=1)
df_2

  system           D_0       Q  t_min  t_max       D_roomT
0  Ag_Ag  2.700000e-05  182.96    980   1250  2.292134e-37
1  Al_Al  1.370000e-05  124.00    583    953  2.516032e-27
2  Cu_Cu  1.050000e-04  210.00    845   1111  1.622610e-41
3  Ti_Ti  3.400000e-04  328.00   1939   1941  1.087030e-61
4  Ag_Cu  3.100000e-10   72.00    498    573  7.420889e-23
5  Ag_Pt  1.300000e-05  258.00   1473   1873  7.745172e-51
6  Ag_Ti  1.000000e-04  279.00    823   1073  1.241624e-53
7  Al_Cu  8.000000e-06  181.00    973   1348  1.498081e-37
8  Al_Pt  1.300000e-07  194.00   1373   1873  1.281191e-41
9  Al_Ti  6.600000e-03  329.00    930   1140  1.409342e-60

In [11]:
#para el tiempo
t = np.linspace(1, 1e3, 100)
#t

In [18]:
systems_2 = {}

for idx, row in df_2.iterrows():
    x = f.distance(row['D_roomT'],t)
    log_x = np.log10(x)
    log_t = np.log10(t)

    systems_df = pd.DataFrame(
        {
            'l' : x,
            'D(T)' : row['D_0'],
            't' : t,
            'log(l)' : log_x,
            'log(t)' : log_t
        }
    )
    systems_2[row['system']] = systems_df

In [19]:
systems_2['Ag_Ag']

               l      D(T)            t     log(l)    log(t)
0   4.787623e-19  0.000027     1.000000 -18.319880  0.000000
1   1.594423e-18  0.000027    11.090909 -17.797396  1.044967
2   2.203442e-18  0.000027    21.181818 -17.656898  1.325963
3   2.677336e-18  0.000027    31.272727 -17.572297  1.495166
4   3.079139e-18  0.000027    41.363636 -17.511571  1.616619
..           ...       ...          ...        ...       ...
95  1.483110e-17  0.000027   959.636364 -16.828827  2.982107
96  1.490887e-17  0.000027   969.727273 -16.826555  2.986650
97  1.498624e-17  0.000027   979.818182 -16.824307  2.991145
98  1.506321e-17  0.000027   989.909091 -16.822082  2.995595
99  1.513979e-17  0.000027  1000.000000 -16.819880  3.000000

[100 rows x 5 columns]

In [20]:
f.plot(dataframe=systems_2, x_axis='t', y_axis='l', x_label='t', y_label='l')

In [21]:
f.plot2(dataframe=systems_2, x_axis='t', y_axis='l', x_label='t', y_label='l')

In [22]:
f.plot(dataframe=systems_2, x_axis='log(t)', y_axis='log(l)', x_label='log(t)', y_label='log(l)')

In [23]:
f.plot2(dataframe=systems_2, x_axis='log(t)', y_axis='log(l)', x_label='log(t)', y_label='log(l)')