In [19]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import funciones as f
import os

In [20]:
#importamos el archivo con los datos
file_name = 'Report1.xlsx'
sheet_name = 'data'
df = pd.read_excel(file_name, sheet_name=sheet_name)
df

  system           D_0       Q  t_min  t_max
0  Al_Al  1.370000e-05  124.00    583    953
1  Al_Cu  8.000000e-06  181.00    973   1348
2  Al_Pt  1.300000e-07  194.00   1373   1873
3  Al_Ti  6.600000e-03  329.00    930   1140
4  Ag_Ag  2.700000e-05  182.96    980   1250
5  Ag_Cu  3.100000e-10   72.00    498    573
6  Ag_Pt  1.300000e-05  258.00   1473   1873
7  Ag_Ti  1.000000e-04  279.00    823   1073
8  Cu_Cu  1.050000e-04  210.00    845   1111
9  Ti_Ti  3.400000e-04  328.00   1939   1941

In [21]:
#voy a usar tempraturas desde 450 a 1900 K
T_range = np.linspace(450, 1950, 100)

In [22]:
#guardo los dataframes en un diccionario
systems = {}

for idx, row in df.iterrows():
    D = f.diffusion(T_range, row['D_0'], row['Q'])
    ln_D = np.log(D)
    T_m1 = 1/T_range

    systems_df = pd.DataFrame(
        {
            'T' : T_range,
            'D(T)' : D,
            'D_0' : row['D_0'],
            'Q (kJ/mol)' : row['Q'],
            'ln(D)' : ln_D,
            '1/T' : T_m1
        }
    )
    systems[row['system']] = systems_df

In [23]:
systems['Al_Al']

              T          D(T)       D_0  Q (kJ/mol)      ln(D)       1/T
0    450.000000  5.529113e-20  0.000014       124.0 -44.341674  0.002222
1    465.151515  1.627487e-19  0.000014       124.0 -43.262080  0.002150
2    480.303030  4.475055e-19  0.000014       124.0 -42.250598  0.002082
3    495.454545  1.156676e-18  0.000014       124.0 -41.300981  0.002018
4    510.606061  2.825855e-18  0.000014       124.0 -40.407721  0.001958
..          ...           ...       ...         ...        ...       ...
95  1889.393939  5.110494e-09  0.000014       124.0 -19.091970  0.000529
96  1904.545455  5.441720e-09  0.000014       124.0 -19.029171  0.000525
97  1919.696970  5.788673e-09  0.000014       124.0 -18.967363  0.000521
98  1934.848485  6.151789e-09  0.000014       124.0 -18.906523  0.000517
99  1950.000000  6.531505e-09  0.000014       124.0 -18.846629  0.000513

[100 rows x 6 columns]

In [ ]:
#systems['Ag_Ag']

              T          D(T)       D_0  Q (kJ/mol)      ln(D)       1/T
0    450.000000  1.560102e-26  0.000027      182.96 -59.422461  0.002222
1    465.151515  7.672754e-26  0.000027      182.96 -57.829537  0.002150
2    480.303030  3.412739e-25  0.000027      182.96 -56.337112  0.002082
3    495.454545  1.385519e-24  0.000027      182.96 -54.935967  0.002018
4    510.606061  5.176173e-24  0.000027      182.96 -53.617976  0.001958
..          ...           ...       ...         ...        ...       ...
95  1889.393939  2.360613e-10  0.000027      182.96 -22.166929  0.000529
96  1904.545455  2.589800e-10  0.000027      182.96 -22.074270  0.000525
97  1919.696970  2.837085e-10  0.000027      182.96 -21.983074  0.000521
98  1934.848485  3.103546e-10  0.000027      182.96 -21.893306  0.000517
99  1950.000000  3.390300e-10  0.000027      182.96 -21.804932  0.000513

[100 rows x 6 columns]

In [24]:
f.plot(dataframe=systems, x_axis='T', y_axis='D(T)', x_label='T (K)', y_label='D (m^2/s)')

In [25]:
f.plot(dataframe=systems, x_axis='1/T', y_axis='ln(D)', x_label='1/T (1/K)', y_label='ln(D)')

In [26]:
f.plot2(dataframe=systems, x_axis='1/T', y_axis='ln(D)', x_label='1/T (1/K)', y_label='ln(D)')

In [27]:
#calculamos D(T) para la T que queremos
T_2 = 278 #temp in Kelvin
df_2 = df
df_2['D_roomT'] = df_2.apply(lambda row: f.diffusion(298, row['D_0'], row['Q']), axis=1)
df_2

  system           D_0       Q  t_min  t_max       D_roomT
0  Al_Al  1.370000e-05  124.00    583    953  2.516032e-27
1  Al_Cu  8.000000e-06  181.00    973   1348  1.498081e-37
2  Al_Pt  1.300000e-07  194.00   1373   1873  1.281191e-41
3  Al_Ti  6.600000e-03  329.00    930   1140  1.409342e-60
4  Ag_Ag  2.700000e-05  182.96    980   1250  2.292134e-37
5  Ag_Cu  3.100000e-10   72.00    498    573  7.420889e-23
6  Ag_Pt  1.300000e-05  258.00   1473   1873  7.745172e-51
7  Ag_Ti  1.000000e-04  279.00    823   1073  1.241624e-53
8  Cu_Cu  1.050000e-04  210.00    845   1111  1.622610e-41
9  Ti_Ti  3.400000e-04  328.00   1939   1941  1.087030e-61

In [28]:
#para el tiempo
t = np.linspace(1, 1e-7, 100)
#t

In [29]:
systems_2 = {}

for idx, row in df_2.iterrows():
    x = f.distance(row['D_0'],t)
    log_x = np.log10(x)
    log_t = np.log10(t)

    systems_df = pd.DataFrame(
        {
            'x' : x,
            'D(T)' : row['D_0'],
            't' : t,
            'log(x)' : log_x,
            'log(t)' : log_t
        }
    )
    systems_2[row['system']] = systems_df

In [30]:
systems_2['Ag_Ag']

           x      D(T)             t    log(x)    log(t)
0   0.005196  0.000027  1.000000e+00 -2.284318  0.000000
1   0.005170  0.000027  9.898990e-01 -2.286523 -0.004409
2   0.005143  0.000027  9.797980e-01 -2.288750 -0.008863
3   0.005117  0.000027  9.696970e-01 -2.291000 -0.013364
4   0.005090  0.000027  9.595960e-01 -2.293274 -0.017912
..       ...       ...           ...       ...       ...
95  0.001044  0.000027  4.040414e-02 -2.981105 -1.393574
96  0.000905  0.000027  3.030313e-02 -3.043574 -1.518513
97  0.000739  0.000027  2.020212e-02 -3.131620 -1.694603
98  0.000522  0.000027  1.010111e-02 -3.282134 -1.995631
99  0.000002  0.000027  1.000000e-07 -5.784318 -7.000000

[100 rows x 5 columns]

In [31]:
f.plot(dataframe=systems_2, x_axis='t', y_axis='x', x_label='t', y_label='x')

In [32]:
f.plot2(dataframe=systems_2, x_axis='t', y_axis='x', x_label='t', y_label='x')

In [33]:
f.plot(dataframe=systems_2, x_axis='log(t)', y_axis='log(x)', x_label='log(t)', y_label='log(x)')

In [34]:
f.plot2(dataframe=systems_2, x_axis='log(t)', y_axis='log(x)', x_label='log(t)', y_label='log(x)')