In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import funciones as f
import os

In [2]:
#importamos el archivo con los datos
file_name = 'Report1.xlsx'
sheet_name = 'data'
df = pd.read_excel(file_name, sheet_name=sheet_name)
df

  system    type           D_0       Q  t_min  t_max
0  Ag_Ag    self  2.700000e-05  182.96    980   1250
1  Al_Al    self  1.370000e-05  124.00    583    953
2  Cu_Cu    self  1.050000e-04  210.00    845   1111
3  Ti_Ti    self  3.400000e-04  328.00   1939   1941
4  Ag_Cu  solute  3.100000e-10   72.00    498    573
5  Ag_Pt  solute  1.300000e-05  258.00   1473   1873
6  Ag_Ti  solute  1.000000e-04  279.00    823   1073
7  Al_Cu  solute  8.000000e-06  181.00    973   1348
8  Al_Pt  solute  1.300000e-07  194.00   1373   1873
9  Al_Ti  solute  6.600000e-03  329.00    930   1140

In [3]:
#voy a usar tempraturas desde 450 a 1900 K
T_range = np.linspace(450, 1950, 100)

In [4]:
#guardo los dataframes en un diccionario
systems_self = {}
systems_other = {}

for idx, row in df.iterrows():
    D = f.diffusion(T_range, row['D_0'], row['Q'])
    ln_D = np.log(D)
    T_m1 = 1/T_range

    systems_df = pd.DataFrame(
        {
            'T' : T_range,
            'D(T)' : D,
            'D_0' : row['D_0'],
            'Q (kJ/mol)' : row['Q'],
            'ln(D)' : ln_D,
            '1/T' : T_m1
        }
    )
    if row['type'] == 'self':
        systems_self[row['system']] = systems_df
    else:
        systems_other[row['system']] = systems_df

In [5]:
#systems_self['Al_Al']

In [6]:
#systems_other['Ag_Cu']

In [7]:
#calculamos D(T) para la T que queremos
T_2 = 278 #temp in Kelvin
df_2 = df
df_2['D_roomT'] = df_2.apply(lambda row: f.diffusion(298, row['D_0'], row['Q']), axis=1)
df_2

  system    type           D_0       Q  t_min  t_max       D_roomT
0  Ag_Ag    self  2.700000e-05  182.96    980   1250  2.292134e-37
1  Al_Al    self  1.370000e-05  124.00    583    953  2.516032e-27
2  Cu_Cu    self  1.050000e-04  210.00    845   1111  1.622610e-41
3  Ti_Ti    self  3.400000e-04  328.00   1939   1941  1.087030e-61
4  Ag_Cu  solute  3.100000e-10   72.00    498    573  7.420889e-23
5  Ag_Pt  solute  1.300000e-05  258.00   1473   1873  7.745172e-51
6  Ag_Ti  solute  1.000000e-04  279.00    823   1073  1.241624e-53
7  Al_Cu  solute  8.000000e-06  181.00    973   1348  1.498081e-37
8  Al_Pt  solute  1.300000e-07  194.00   1373   1873  1.281191e-41
9  Al_Ti  solute  6.600000e-03  329.00    930   1140  1.409342e-60

In [8]:
#para el tiempo
t = np.linspace(1, 1e3, 100)
#t

In [9]:
systems_self2 = {}
systems_other2 = {}

for idx, row in df_2.iterrows():
    x = f.distance(row['D_roomT'],t)
    log_x = np.log10(x)
    log_t = np.log10(t)

    systems_df = pd.DataFrame(
        {
            'l' : x,
            'D(T)' : row['D_0'],
            't' : t,
            'log(l)' : log_x,
            'log(t)' : log_t
        }
    )
    if row['type'] == 'self':
        systems_self2[row['system']] = systems_df
    else:
        systems_other2[row['system']] = systems_df

In [10]:
#systems_self2['Ag_Ag']

Graficas

In [16]:
#grafica del coeficiente de difusion
f.plot(dataframe=systems_self, x_axis='T', y_axis='D(T)', x_label='T (K)', y_label='D (m^2/s)', type='self')
f.plot(dataframe=systems_other, x_axis='T', y_axis='D(T)', x_label='T (K)', y_label='D (m^2/s)', type='other')
#grafica del logaritmo del coeficiente de difusion
f.plot(dataframe=systems_self, x_axis='1/T', y_axis='ln(D)', x_label='1/T (1/K)', y_label='ln(D)', type='self')
f.plot(dataframe=systems_other, x_axis='1/T', y_axis='ln(D)', x_label='1/T (1/K)', y_label='ln(D)', type='other')

In [18]:
#grafica de la distancia
f.plot(dataframe=systems_self2, x_axis='t', y_axis='l', x_label='t', y_label='l', type='self')
f.plot(dataframe=systems_other2, x_axis='t', y_axis='l', x_label='t', y_label='l', type='other')
#grafica del logaritmo de la distancia
f.plot(dataframe=systems_self2, x_axis='log(t)', y_axis='log(l)', x_label='log(t)', y_label='log(l)', type='self')
f.plot(dataframe=systems_other2, x_axis='log(t)', y_axis='log(l)', x_label='log(t)', y_label='log(l)', type='other')

In [ ]:
#f.plot2(dataframe=systems, x_axis='1/T', y_axis='ln(D)', x_label='1/T (1/K)', y_label='ln(D)')

In [ ]:
#f.plot2(dataframe=systems_2, x_axis='t', y_axis='l', x_label='t', y_label='l')

In [ ]:
#f.plot2(dataframe=systems_2, x_axis='log(t)', y_axis='log(l)', x_label='log(t)', y_label='log(l)')